<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ougen.exam1.mapper.FilmMapper">
   <select id="getFile" resultType="film" parameterType="page">
       select *
       from film
       order by film_id
       ${sort}
       limit #{offset},#{limit}
   </select>

</mapper>